body {margin: 0;}

.container{display:flex; justify-content: space-between;align-items:center;padding: 0px 10px; }

.logo p{  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
color:mediumaquamarine;display:inline-flex;align-items:center;}

.nav span{font-family: Verdana;
  font-size: 14px;
  font-weight: bold; padding:0px 10px;}
.image-headline{border:1px solid;}
.story-content{border:1px solid;}

.large {display:flex;flex-direction:column;
  width: 630px;
}

.medium {display:flex;flex-direction:column;
  width: 300px;
}

.small {display:flex;flex-direction:column;
  width: 240px;
}
.column{display:inline-flex;}
.main-content{display:flex;justify-content:space-around;}

.headline{  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white; height:300px;}

.image-headline{  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
text-align:center; height:300px;}

.fall-story{background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);}

.hipster-cameraman{background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);}

.main-story{background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png)}

.cat-ceo{background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);}

.story-content{  font-family: Georgia;
  font-size: 17px;
  color: black;}