body {margin: 0;}

.container{display:flex; justify-content: space-between;}
.logo p{  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
color:mediumaquamarine;display:inline-flex;}

.nav span{padding:20px;}
